In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:\\Users\\HP\\Downloads\\melb_data.csv")

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [4]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [6]:
df["Suburb"].value_counts()

Reservoir         359
Richmond          260
Bentleigh East    249
Preston           239
Brunswick         222
                 ...
Sandhurst           1
Bullengarook        1
Croydon South       1
Montrose            1
Monbulk             1
Name: Suburb, Length: 314, dtype: int64

In [7]:
df["Suburb"].notna().sum()

13580

In [8]:
cols=['YearBuilt', 'CouncilArea']

In [9]:
df[cols].isna().sum()

YearBuilt      5375
CouncilArea    1369
dtype: int64

In [10]:
df[cols]=df[cols].fillna(0)

In [11]:
df[cols].isna().sum()

YearBuilt      0
CouncilArea    0
dtype: int64

In [12]:
df["BuildingArea"].mean()

151.96764988779805

In [13]:
df["BuildingArea"]=df["BuildingArea"].fillna(df["BuildingArea"].mean())

In [14]:
df["BuildingArea"]

0        151.96765
1         79.00000
2        150.00000
3        151.96765
4        142.00000
           ...
13575    151.96765
13576    133.00000
13577    151.96765
13578    157.00000
13579    112.00000
Name: BuildingArea, Length: 13580, dtype: float64

In [15]:
df["Car"].isna().sum()

62

In [16]:
df["Car"]=df["Car"].fillna(df["Car"].mean())

In [17]:
df["Car"].isna().sum()

0

In [18]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [19]:
cols1=['Regionname', 'Propertycount','Suburb', 'Address','Lattitude','Longtitude']

In [35]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [37]:
df.drop(df[cols1],axis=1,inplace=True)

In [38]:
df.columns

Index(['Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance',
       'Postcode', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'YearBuilt', 'CouncilArea'],
      dtype='object')

In [39]:
df1=pd.get_dummies(df)

In [40]:
df1

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,151.96765,0.0,...,0,0,0,0,0,0,0,0,1,0
1,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.00000,1900.0,...,0,0,0,0,0,0,0,0,1,0
2,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.00000,1900.0,...,0,0,0,0,0,0,0,0,1,0
3,3,850000.0,2.5,3067.0,3.0,2.0,1.0,94.0,151.96765,0.0,...,0,0,0,0,0,0,0,0,1,0
4,4,1600000.0,2.5,3067.0,3.0,1.0,2.0,120.0,142.00000,2014.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,4,1245000.0,16.7,3150.0,4.0,2.0,2.0,652.0,151.96765,1981.0,...,0,0,0,0,0,0,0,0,0,0
13576,3,1031000.0,6.8,3016.0,3.0,2.0,2.0,333.0,133.00000,1995.0,...,0,0,0,0,0,0,0,0,0,0
13577,3,1170000.0,6.8,3016.0,3.0,2.0,4.0,436.0,151.96765,1997.0,...,0,0,0,0,0,0,0,0,0,0
13578,4,2500000.0,6.8,3016.0,4.0,1.0,5.0,866.0,157.00000,1920.0,...,0,0,0,0,0,0,0,0,0,0
13579,4,1285000.0,6.3,3013.0,4.0,1.0,1.0,362.0,112.00000,1920.0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
df1.columns

Index(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt',
       ...
       'CouncilArea_Moreland', 'CouncilArea_Nillumbik',
       'CouncilArea_Port Phillip', 'CouncilArea_Stonnington',
       'CouncilArea_Unavailable', 'CouncilArea_Whitehorse',
       'CouncilArea_Whittlesea', 'CouncilArea_Wyndham', 'CouncilArea_Yarra',
       'CouncilArea_Yarra Ranges'],
      dtype='object', length=378)

In [53]:
x=df1.drop("Price",axis=1)

In [54]:
y=df1["Price"]

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.20)

In [57]:
xtrain.shape

(10864, 377)

In [58]:
xtest.shape

(2716, 377)

In [59]:
x.shape

(13580, 377)

In [60]:
from sklearn.linear_model import LinearRegression

In [64]:
lreg=LinearRegression()

In [66]:
lreg.fit(xtrain,ytrain)

LinearRegression()

In [67]:
lreg.score(xtest,ytest)

-645187150.7363694

In [68]:
from sklearn.linear_model import Lasso

In [73]:
ls=Lasso(alpha=100,max_iter=100,tol=.1)

In [74]:
ls

Lasso(alpha=100, max_iter=100, tol=0.1)

In [75]:
ls.fit(xtrain,ytrain)

Lasso(alpha=100, max_iter=100, tol=0.1)

In [76]:
ls.score(xtest,ytest)

0.6457993184438784

In [77]:
from sklearn.linear_model import Ridge

In [87]:
rg=Ridge(alpha=500,max_iter=1000,tol=.001)

In [88]:
rg.fit(xtrain,ytrain)

Ridge(alpha=500, max_iter=1000)

In [89]:
rg.score(xtest,ytest)

0.6178311966164582